/** start of Index page**/  
#header{
    height: 100vh;
    width: 100%;
    background-image: url(../img/theblognycheader4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{
  margin: 0;
  background-color: #BA363D;
  width: 100%;
  height: 100vh;
}

img{
    border-radius: 25px;
    padding: 20px;
    width: 300px;
    height: 300px;
}



#intro{ 
    display: flex;
    flex-direction:row; 
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    margin-left: 5%;
    margin-right:  5%;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #C5423D;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px 10px 12px 4px;
}

#intro img{
  width: 30%;
  height: 40%;
}

#about{
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color: white;
  width: 60%;  
}

#reviews{ 
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
  font-size:48px;
  background-color:#820336;
  color: white;
  height: 100px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin-top: 3%;
}

#one{ 
    display: flex;
    flex-direction:row; 
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
    background-color: #BA363D;
  }

#brooklyn{
    display: block;
    margin-left:auto ;
    margin-right: auto; 
    width: 25%; 
    padding: 15px;
    border: solid 15px rgb(0, 0, 0);
    border-radius: 20px;
    border-width: 3px 10px 12px 4px;
    background-color: rgb(255, 255, 255); 
}

#K{
    display: block;
    margin-left:auto ;
    margin-right: auto; 
    width: 25%; 
    padding: 15px;
    border: solid 15px rgb(0, 0, 0);
    border-radius: 20px;
    border-width: 3px 10px 12px 4px;
    background-color: rgb(255, 255, 255); 
}

#eliz{
    display: block;
    margin-left:auto ;
    margin-right: auto; 
    width: 25%; 
    padding: 15px;
    border: solid 15px rgb(0, 0, 0);
    border-radius: 20px;
    border-width: 3px 10px 12px 4px;
    background-color: rgb(255, 255, 255); 
}


#footer{ 
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    color: white;
    height: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-top: 3%;
}

/**hover effect test**/ 
.container {
    position: relative;
    width: 50%;
    border: solid 15px rgb(0, 0, 0);
    border-radius: 10px;
    border-width: 3px 10px 12px 4px;
    background-color: rgb(255, 255, 255); 
  }
  
  .image {
    opacity: 1;
    display: block;
    width:50%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #BA363D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
  } 
  #container{
    padding: 15px;
    border: solid 15px rgb(0, 0, 0);
    border-radius: 10px;
    border-width: 3px 10px 12px 4px;
    background-color: rgb(255, 255, 255);
  }

  

/** start of Blog 1 (Brooklyn Film Camera)**/  
nav{
    background-color:rgb(173, 39, 59);
    height: 90px;
    display:flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    margin-left: 10px;
    color: white;
  }

nav a{
text-decoration: none;
color: white;
font-family: "Courier Prime", monospace;
font-weight: 400;
font-style: normal;
}

a:link{
color: aliceblue;
}
a:visited{
  color: aliceblue;
}
a:hover{
  color:#E5B67B ;
}

#background1{
    background-image: url(../blog_1/img/background.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#map{
  display: flex;
  flex-direction:row; 
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  margin-left: 5%;
  margin-right:  5%;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #E5B67B;
  border-style: solid;
  border-radius: 20px;
  border-width: 3px 10px 12px 4px;
}

iframe{
  margin: 1%;
}

#where{
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color: white;
  width: 60%; 
}

#two{ 
    display: flex;
    flex-direction:row; 
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    margin-left: 5%;
    margin-right:  5%;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #E5B67B;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px 10px 12px 4px;
}

#two img{
margin: 1%;
}

#who{
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color: white;
  width: 60%; 
}

#three{ 
  display: flex;
  flex-direction:row; 
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
  margin-left: 5%;
  margin-right:  5%;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #E5B67B;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px 10px 12px 4px;
}

#three img{
  margin: 1%;
  }

#services1{
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color: white;
  width: 60%; 
}


#four{
    display: flex;
    flex-direction:row; 
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    margin-left: 5%;
    margin-right:  5%;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #E5B67B;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px 10px 12px 4px;
}
#four img{
  margin: 1%;
  }

  #unique{
    font-family: "Monofett", monospace;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    color: white;
    width: 60%; 
  }
  #five{
    display: flex;
    flex-direction:row; 
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    margin-left: 5%;
    margin-right:  5%;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #E5B67B;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px 10px 12px 4px;
}

#five img{
  margin: 1%;
  }
  
#val{
    font-family: "Monofett", monospace;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    color: white;
    height: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;  
    margin-bottom: 1%; 
} 



#footerone{ 
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    color: white;
    height: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-top: 3%;
}


/** start of Blog 2 (K & M)**/  

#background2{
  background-image: url(../blog_2/img/background2.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
} 

#maptwo{
  display: flex;
  flex-direction:row; 
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  margin-left: 5%;
  margin-right:  5%;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #BA363D;
  border-style: solid;
  border-radius: 20px;
  border-width: 3px 10px 12px 4px;
}

iframe{
  margin: 1%;
}

#where{
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color: white;
  width: 60%; 
}


#six{
  display: flex;
  flex-direction:row; 
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
  margin-left: 5%;
  margin-right:  5%;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #BA363D;
  border-style: solid;
  border-radius: 20px;
  border-width: 3px 10px 12px 4px;
}

#six img{
margin: 1%;
}

#whotwo{
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color: white;
  width: 60%; 
}

#seven{ 
  display: flex;
  flex-direction:row; 
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
  margin-left: 5%;
  margin-right:  5%;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #BA363D;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px 10px 12px 4px;
}

  #seven img{
  margin: 1%;
  }
  
  #servicestwo{
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color: white;
  width: 60%; 
  }

#eight{
  display: flex;
  flex-direction:row; 
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
  margin-left: 5%;
  margin-right:  5%;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #BA363D;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px 10px 12px 4px;
}

  #uniquetwo{
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color: white;
  width: 60%; 
  }

#nine{
  display: flex;
  flex-direction:row; 
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
  margin-left: 5%;
  margin-right:  5%;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #BA363D;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px 10px 12px 4px;
}

#valone{
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color: white;
  height: 100px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;  
  margin-bottom: 1%; 
} 

#footertwo{ 
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color: white;
  height: 100px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin-top: 3%;
}

/** start of Blog 3 (ELiz Camera)**/ 
#background3{
  background-image: url(../blog_3/img/background3.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#ten{ 
  display: flex;
  flex-direction:row; 
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
  margin-left: 5%;
  margin-right:  5%;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #8B0034;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px 10px 12px 4px;
}

#ten img{
margin: 1%;
}

#whothree{
font-family: "Monofett", monospace;
font-weight: 400;
font-style: normal;
font-size:20px;
color: white;
width: 60%; 
}

#elleven{
  display: flex;
  flex-direction:row; 
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
  margin-left: 5%;
  margin-right:  5%;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #8B0034;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px 10px 12px 4px;  
}

#elleven img{
  margin: 1%;
  }
  
  #servicesthree{
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color: white;
  width: 60%; 
  } 

  #twelve{
    display: flex;
    flex-direction:row; 
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    margin-left: 5%;
    margin-right:  5%;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #8B0034;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px 10px 12px 4px;  
  }

  #twelve img{
    margin: 1%;
    }
    
    #uniquethree{
    font-family: "Monofett", monospace;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    color: white;
    width: 60%; 
    } 

  #last{
    display: flex;
    flex-direction:row; 
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    margin-left: 5%;
    margin-right:  5%;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #8B0034;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px 10px 12px 4px;  
  }

  #last img{
    margin: 1%;
    }

  #valthree{
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color: white;
  height: 100px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;  
  margin-bottom: 1%; 
  } 

  #mapthree{
      display: flex;
      flex-direction:row; 
      justify-content: space-around;
      align-items: center;
      margin-top: 10%;
      margin-left: 5%;
      margin-right:  5%;
      font-family: "Courier Prime", monospace;
      font-weight: 400;
      font-style: normal;
      color: white;
      background-color: #8B0034;
      border-style: solid;
      border-radius: 20px;
      border-width: 3px 10px 12px 4px;
    }
    
    iframe{
      margin: 1%;
    }
    
    #wherethree{
      font-family: "Monofett", monospace;
      font-weight: 400;
      font-style: normal;
      font-size:20px;
      color: white;
      width: 60%; 
    }

#footerthree{ 
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color: white;
  height: 100px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin-top: 3%;
}